{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='session.css') }}">
{% endblock %}

{% block title %} Session {% endblock %}

{% block content %}
<h1>Add a new game session</h1>
<div class="container">

    <div class="player-select">
        <h2>Add Match Info </h2>
        <form class="form" action="/match" method="POST">
            <div class="player1">
                <label for="player1"> Select a player</label>
                <select name="player1" id="player1">
                    <option value=" "></option>
                    {% for player in players %}
                    <option value="{{ player.id }}">{{ player.fname+' '+player.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="player2">
                <label for="player2"> Select a player</label>
                <select name="player2" id="player2">
                    <option value=" "></option>
                    {% for player in players %}
                    <option value="{{ player.id }}">{{ player.fname+' '+player.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="player3">
                <label for="player3"> Select a player</label>
                <select name="player3" id="player3">
                    <option value=" "></option>
                    {% for player in players %}
                    <option value="{{ player.id }}">{{ player.fname+' '+player.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="player4">
                <label for="player4"> Select a player</label>
                <select name="player4" id="player4">
                    <option value=" "></option>
                    {% for player in players %}
                    <option value="{{ player.id }}">{{ player.fname+' '+player.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <div class="game">
                <label for="game"> Select a Game</label>
                <select name="game" id="game">
                    <option value=" "></option>
                    <option value="catan">Catan</option>
                    <option value="connect 4">Connect 4</option>
                    <option value="formation">Formation</option>
                    <option value="monopoly_deal">Monoploy Deal</option>
                    <option value="nerts">Nerts</option>
                    <option value="spot_it">Spot It</option>
                </select>
            </div>
            <br>
            <br>
            <div class="winner">
                <label for="winner"> Select The Winner</label>
                <select name="winner" id="winner">
                    <option value=" "></option>
                    {% for player in players %}
                    <option value="{{ player.id }}">{{ player.fname+' '+player.lname }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <input type="submit" value="Add Session" class="btn btn-primary">
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'match' %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true"> &times;</span>
            </button>
        </div>

        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        <br>
        <br>
        <br>
        <div class="home">
            <form class="form" action="/" method="GET">
                <button class="btn btn-primary"> Return to home</button>
            </form>

        </div>

    </div>

    <div class="game-select">
        <h2>Games to Choose From</h2>
        <div class="row1">
            <div class="game-card" id="catan">
                <a href="#">
                    <img src="/static/catan.jpeg" alt="">
                </a>
            </div>
            <div class="game-card" id="connect4">
                <a href="#">
                    <img src="/static/connect4.jpeg" alt="">
                </a>
            </div>
            <div class="game-card" id="formation">
                <a href="#">
                    <img src="/static/monopoly_deal.webp" alt="">
                </a>
            </div>
        </div>
        <div class="row2">
            <div class="game-card" id="monopoly_deal">
                <a href="#">
                    <img src="/static/formation.png" alt="">
                </a>
            </div>
            <div class="game-card" id="nerts">
                <a href="#">
                    <img src="/static/nerts.webp" alt="">
                </a>
            </div>
            <div class="game-card" id="spot_it">
                <a href="#">
                    <img src="/static/spot_it.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}